body{
    margin:0;
}
.navbar{
    position: fixed;
    z-index: 1000;
    top:0;
    margin:0;
    background-color: #4b1805;
    height: fit-content;
    width: 100%;
}
.logo{
    position: relative;
    padding: 20px;
    float:left;
    width: fit-content;
    color: white;
    font-size: 50px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    transition: 0.5s;
}

.logo:hover{
    color: #a6a6a6;
    transition: 0.5s;
}

.options{
    position: absolute;
    top: 25px;
    right: 5px;
    margin: 10px;
}

#opt{
    position: relative;
    width: 100px;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    transition: 1s;
}

#curr{
    text-decoration: none;
    color: white;
}

#opt:hover{
    color: #a6a6a6;
    transition: 0.5s;
}

.container{
    position: relative;
    display: grid;
    height: 100%;
    margin-top: 7%;
    row-gap: 50px;
    grid-template-columns: auto;
    text-align: center;

}

@media(max-width: 1300px){
    .container{
        margin-top: 10%;
    }
}

#listheader{
    position: relative;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    height: 100px;
    line-height: 100px;


    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #8d5d45, #81492d);
    color: transparent;
    -webkit-background-clip: text;
}

.cityform{
    width: 50vw;
    margin: 0 auto;
    border-radius: 3px;
    display: inline-block;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
}

.dimtable{
    width: 100%;
    text-align: center;
}

.submitButton{
    margin-top: 12px;
    width: 130px;
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid black;
}

.submitButton:hover{
    background-color: #cccccc;
    box-shadow: 0 0 10px black;
    transition: 0.3s;
}

.portlist{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    list-style: none;
    height: fit-content;
}
.portCard{
    position: relative;
    height: 100px;
    width: 300px;
    line-height: 100px;
    text-align: left;
    padding:20px;
    box-shadow: rgba(134, 90, 90, 0.2) 0 10px 35px 0;
    transition: 0.3s;
}
.portCard:hover{
    transform: scale(1.2);
    transition: 0.3s;
}

#link{
    margin-bottom: 40px;
    color: black;
    text-decoration: none;
}

