body{
    margin:0;
}
.navbar{
    position: fixed;
    z-index: 1000;
    top:0;
    margin:0;
    background-color: #4b1805;
    height: fit-content;
    width: 100%;
}
.logo{
    position: relative;
    padding: 20px;
    float:left;
    width: fit-content;
    color: white;
    font-size: 50px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
    transition: 0.5s;
}
.logo:hover{
    color: #a6a6a6;
    transition: 0.5s;
}
.options{
    position: absolute;
    top: 25px;
    right: 5px;
    margin: 10px;
}

#opt{
    position: relative;
    width: 100px;
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 3px;
    transition: 1s;
}
#curr{
    text-decoration: none;
    color: white;
}

#opt:hover{
    color: #a6a6a6;
    transition: 0.5s;
}
.container{
    position: relative;
    display: grid;
    height: 100%;
    margin-top: 7%;
    row-gap: 50px;
    grid-template-columns: auto;
    text-align: center;
    justify-content: center;
    border:1px solid #e35f5f;
}
@media(max-width: 1300px){
    .container{
        margin-top: 10%;
    }
}
.cityform{
    border: 1px solid purple;
    position: relative;
    padding:10px;
}
#listheader{
    position: relative;
    border:1px solid red;
    margin-right: auto;
    text-align: center;
    margin-left: auto;
    height: 100px;
    line-height: 100px;
    width: 400px;
}
.portlist{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    list-style: none;
    height: fit-content;
    border: 1px solid blueviolet;
}
.port{
    position: relative;
    border: 1px solid blue;
    height: 100px;
    width: 300px;
    line-height: 100px;
    text-align: center;
    padding:20px;
    margin-bottom: 20px;
}
