<!doctype html>
{% load static %}
{% load GdzieTaKeja_tags %}
<link rel="stylesheet" type="text/css" href="{% static '/GdzieTaKeja/port_style.css' %}">
<body>
    <div class="navbar">
        <a id="curr" href="{% url 'GdzieTaKeja:ports' %}"><div class="logo">GdzieTaKeja</div></a>
        <div class="options">
            <a id="curr" href="{% url 'GdzieTaKeja:ports' %}"><div id="opt">Przystanie</div></a>
            <a id="curr" href="{% url 'GdzieTaKeja:reservation' %}"><div id="opt">Rezerwacje</div></a>
        </div>

    </div>

    <div class="container">
        <h1 id="listheader">PRZYSTANIE</h1>
        <div class="cityform">
            <form action='' method="POST">
                {% csrf_token %}
                <div class="dimtable">{{ form.as_table }}</div>

                <input class="submitButton" type="submit" value="Szukaj">
            </form>
        </div>
        <div class="portlist">
            {% for port in port_list %}
                <a id="link" href="{% url 'GdzieTaKeja:sectors' port_id=port|mongo_id %}">
                    <div class="portCard">
                        <p>{{ port.name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>
</body>
