<!doctype html>
{% load static %}
{% load GdzieTaKeja_tags %}
<link rel="stylesheet" type="text/css" href="{% static '/GdzieTaKeja/reservation.css' %}">
<body>
    <div class="navbar">
        <a id="curr" href="{% url 'GdzieTaKeja:ports' %}"><div class="logo">GdzieTaKeja</div></a>
        <div class="options">
            <a id="curr" href="{% url 'GdzieTaKeja:ports' %}"><div id="opt">Przystanie</div></a>
            <a id="curr" href="{% url 'GdzieTaKeja:reservation' %}"><div id="opt">Rezerwacje</div></a>
        </div>

    </div>
    <div class="container">
         <h1 id="listheader">Wyszukaj swoją rezerwację:</h1>
         <div class="cityform">
             <form action='' method="POST">

                {% csrf_token %}
                <div class = "dimtable">{{ form.as_table }}</div>
                <input class="submitButton" type="submit" value="Szukaj">

             </form>
         </div>
        <div class="portlist">
            {% for res in reservation_found %}
                {% if res.active == True %}
                    <a id="link" href="{% url 'GdzieTaKeja:editreservation' reservation_number=res.reservationNumber %}">
                        <div class="portCard">
                            <p>Numer rezerwacji: {{ res.reservationNumber }}</p>
                            <p class="reservationStatus" style="color: limegreen">Rezerwacja aktywna</p>
                        </div>
                    </a>
                {% else %}
                    <div id = "link">
                        <div class="portCard">
                            <p>Numer rezerwacji: {{ res.reservationNumber }}</p>
                            <p class="reservationStatus" style="color: red">Rezerwacja nieaktywna/anulowana</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</body>