<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/GdzieTaKeja/reserve_style.css' %}">
<body>
    <div class="container">
        {% if sector_type == "parallel" %}
            <h1 id="listheader">Dotarłeś do rezerwacji: </h1>
            <div class = "portSektor">port: {{ port.name }}</div>
            <div class = "portSektor">sektor: {{ sector_name }}</div>
            <div class="act-opt">
                <a id="link" href="{% url 'GdzieTaKeja:ports' %}"><div id="go_back">Anuluj rezerwację</div></a>
                <a id="link" href="{% url 'GdzieTaKeja:sectors' port_id=port_id %}"><div id="go_back">Wróć do sektorów</div></a>
            </div>
        {% else %}
            <h1 id="listheader">Dotarłeś do rezerwacji: </h1>
            <div class = "portSektor">port: {{ port.name }}</div>
            <div class = "portSektor">sektor: {{ sector_name }}</div>
            <div class = "portSektor">slot: {{ slot_id }}</div>
           <div class="act-opt">
                <a id="link" href="{% url 'GdzieTaKeja:ports' %}"><div id="go_back">Anuluj rezerwację</div></a>
                <a id="link" href="{% url 'GdzieTaKeja:slots' port_id=port_id sector_name=sector_name y_id=y_id%}"><div id="go_back">Wróć do miejsc</div></a>
            </div>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            <table class="dimtable">{{ form.as_table }}</table>
            <input class="submitButton" type="submit" value="Zarezerwuj">
        </form>
    </div>
</body>