<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/GdzieTaKeja/sectorStyle.css' %}">
<body>
    <div class="container">
        <h1 id="listheader">SEKTORY</h1>
        <a id="link" href="{% url 'GdzieTaKeja:ports'%}">
            <div id="go_back">Cofnij</div>
        </a>
        <form action='' method="POST">
            {% csrf_token %}
            <table class="dimtable">{{ form.as_table }}</table>
            <input class="submitButton" type="submit" value="Szukaj">
        </form>

        <div class="portlist">
                {% for sector in filtered_sectors %}
                    {% if sector.type == "perpendicular" %}
                        <a id="link" href="{% url 'GdzieTaKeja:slots' port_id=port_id sector_name=sector.name y_id=y_id %}">
                            <div class="portCard">
                                <p>Typ sektora: {{ sector.name }}</p>
                            </div>
                        </a>
                    {% else %}
                        <a id="link" href="{% url 'GdzieTaKeja:reserve' port_id=port_id sector_name=sector.name y_id=y_id slot_id=0 %}">
                            <div class="portCard">
                                <p>Typ sektora: {{ sector.name }}</p>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
        </div>
    </div>
</body>