<!doctype html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/GdzieTaKeja/slotsstyle.css' %}">
<body>
    <div class="container">
        <div id="listheader">Slots w {{port.name}}, {{ sector_name }}</div>
        <div class="portlist">
            {% for slot in slot_list %}
               <div class="port">
                   <a id="link" href="{% url 'GdzieTaKeja:reserve' port_id=port_id sector_name=sector_name slot_id=slot.id y_id=y_id %}">
                       <p>{{ slot.id }}</p></a></div>
            {% endfor %}
        </div>
    </div>
</body>